<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head th:replace="fragments/head :: head"></head>

    

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
    <header th:replace="fragments/header :: header"></header>
  </div>

 

  <section class="about_section layout_padding">
    <div class="container  ">
        <h1>Admin Page - Access Restricted to Admins Only</h1>
        <p>Welcome, Admin! Here you can manage the application.</p>

    </div>
  </section>
  <footer th:replace="fragments/footer :: footer"></footer>
 
 

 

</body>

</html>